@model HEAPIFY_540_Software.Models.NotesMedicalStaff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notes </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date & Time
            @*@Html.DisplayNameFor(model => model.Date_Time_Recorded)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_Time_Recorded)
        </dd>

        <dt>
            Patient
            @*@Html.DisplayNameFor(model => model.Patient.FullName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NotesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
