@model HEAPIFY_540_Software.Models.AddLabReport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Add a Lab Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
            @*@Html.DisplayNameFor(model => model.Patient.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
            @*@Html.DisplayFor(model => model.Patient.FirstName)*@
        </dd>
        <dt>
            Who Ordered Test?
            @*@Html.DisplayNameFor(model => model.WhereOrder)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WhereOrder)
        </dd>

        <dt>
            Result Date
            @*@Html.DisplayNameFor(model => model.ResultDate)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultDate)
        </dd>

        <dt>
            Test Type
            @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnoses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnoses)
        </dd>

        <dt>
            Is this lab from an external provider? (Use Y or N)
            @*@Html.DisplayNameFor(model => model.Lab)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AddLabReportID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
