@model HEAPIFY_540_Software.Models.FamilyHistoryMedical

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Family Medical Historyl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>

        <dt>
            Problem
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Problem.ProblemsName)
        </dd>

        <dt>
            Relationship Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship.RelationshipType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientFamilyProblemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
