@model HEAPIFY_540_Software.Models.Patient

@{
    ViewBag.Title = "FaceSheet";
}

<h2>Patient's Face Sheet</h2>


    
    <hr />
    @*<dl class="dl-horizontal">*@
        <dt>
       Patient  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        @*</dl>*@
<div>
    <h4>Patient's Personal Problems </h4>
    <table class="table">
        <tr>
            <th>
                Problems
            </th>

        </tr>

        @foreach (var item in Model.PatientProblems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem.ProblemsName)
                </td>


            </tr>
        }
    </table>
    <h4>Patient's Family History </h4>
    <table class="table">
        <tr>
            <th>
                Relationship to Patient
            </th>
            <th>
                Problem
            </th>

        </tr>

        @foreach (var item in Model.FamilyHistoryMedicals)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Relationship.RelationshipType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem.ProblemsName)
                </td>


            </tr>
        }
    </table>
    <h4>Patient's Medications </h4>
    <table class="table">
        <tr>
            <th>
                Drug
            </th>
        </tr>

        @foreach (var item in Model.PatientDrugs)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Drug.DrugName)
                </td>
            </tr>
        }
    </table>
    <h4> Immunizations </h4>
    <table class="table">
        <tr>
            <th>
                Immunization
            </th>
            <th>
                Date Given
            </th>
        </tr>

        @foreach (var item in Model.PatientImmunizations)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Immunization.Vaccine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateGiven)
                </td>
            </tr>
        }
    </table>
    <h4> Allergies </h4>
    <table class="table">
        <tr>
            <th>
                Allergy
            </th>
            <th>
                Allergy Type
            </th>
        </tr>

        @foreach (var item in Model.PatientAllergies)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AllergiesName.AllergyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllergiesName.AllergyType.AllergyTypeName)
                </td>
            </tr>
        }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
