@model IEnumerable<HEAPIFY_540_Software.Models.PatientAllergy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Patient
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AllergiesName.AllergyName)
        </th>*@
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.AllergiesName.AllergyName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientAllergyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientAllergyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientAllergyID })
        </td>
    </tr>
}

</table>
