@model HEAPIFY_540_Software.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.FirstName)*@
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.MiddleName)*@
            Middle Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LastName)*@
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Address.StreetName)*@
            Address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address.FullAddress)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PhoneNumber.PhoneNumber1)*@
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber.PhoneNumber1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EmployeeSSN)*@
            Employee SSN
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeSSN)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PersonalEmail)*@
            Personal Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.EmployeeDateOfBirth)*@
            Date of Birth (MM/DD/YYYY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeDateOfBirthOnly)
        </dd>


    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
