@model IEnumerable<HEAPIFY_540_Software.Models.PatientEmergencyContact>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Patient
        </th>
        <th>
           Emergency Contact Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.FullName)
          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContact.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatientEmergencyContactID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatientEmergencyContactID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatientEmergencyContactID })
        </td>
    </tr>
}

</table>
