@model IEnumerable<HEAPIFY_540_Software.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Street Name
        </th>
        <th>
            City
        </th>
        <th>
           State (Abbreviated)
        </th>
        <th>
          Zip Code  
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)   @*Really meant to be state*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AddressID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AddressID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AddressID })
        </td>
    </tr>
}

</table>

<div>

    <h6>If you were adding a patient, please click this @Html.ActionLink("link", "Create", "Patients")</h6>
  
    <h6>If you were adding an employee, please click the @Html.ActionLink("link", "Create", "Employees")</h6>
    
    

</div>

