@model HEAPIFY_540_Software.Models.CreateOrderInternal

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Internal Laboratory Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient
            @*@Html.DisplayNameFor(model => model.Patient.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.FullName)
            @*@Html.DisplayFor(model => model.Patient.FirstName)*@
        </dd>
        <dt>
            Test Ordered By?
            @*@Html.DisplayNameFor(model => model.Employee.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
            @*@Html.DisplayFor(model => model.Employee.FirstName)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Diagnoses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnoses)
        </dd>

        <dt>
           Lab
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lab)
        </dd>
        <dt>
            Test Type (Lab/Studies)
            @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            Comments
            @*@Html.DisplayNameFor(model => model.Notes)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Test Performed By?
            @*@Html.DisplayNameFor(model => model.Employee1.FirstName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee1.FullName)
            @*@Html.DisplayFor(model => model.Employee1.FirstName)*@
        </dd>
        <dt>
            Stat? (Y/N)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stat)
        </dd>

       

       

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
